<div class="header">
  <h1>TwitchAudio</h1>

  
  <h2>A simple app for streaming only the audio of Twitch.tv streams</h2>
  
</div>

<div class="blockArea pure-g">
  <%= render 'block' %>
  <%= render 'blockAdd' %>
</div>
